[defaults]
inventory = inventory/production/swarm.yml
host_key_checking = False
remote_user = ubuntu

[inventory]
enable_plugins = script

[ssh_connection]
; ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
